{% extends 'base.html.twig' %}

{% block title %}New task - ToDo
{% endblock %}

{% block nav %}
	<li>
		<a href="{{ path('projects_list') }}">Projets</a>
	</li>
	<li>
		<a href="{{ path('home') }}">Tasks</a>
	</li>
{% endblock %}

{% block body %}

	{{ form(form) }}

{% endblock %}
