{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}

	<details open>
		<summary>Courses</summary>
		<ul>
            <li><input type="checkbox" name="task5" id="task5"><label for="task5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, esse.</label></li>
            <li><input type="checkbox" name="task6" id="task6"><label for="task6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, esse.</label></li>
            <li><input type="checkbox" name="task7" id="task7"><label for="task7">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, esse.</label></li>
            <li><input type="checkbox" name="task8" id="task8"><label for="task8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, esse.</label></li>
        </ul>
	</details>

	<details open>
		<summary>Travaux</summary>
		<ul>
			<li><input type="checkbox" name="task1" id="task1"><label for="task1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, esse.</label></li>
            <li><input type="checkbox" name="task2" id="task2"><label for="task2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, esse.</label></li>
            <li><input type="checkbox" name="task3" id="task3"><label for="task3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, esse.</label></li>
            <li><input type="checkbox" name="task4" id="task4"><label for="task4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, esse.</label></li>
		</ul>
	</details>

{% endblock %}
